<nav class="navbar navbar-expand-sm navbar-dark bg-dark"> 
    <a class="navbar-brand" href="#">Satyam Pandey</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" 
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <button class="btn btn-online-successmy-2 bg-primary ml-auto my-sm-0">Contact Me</button>
    </div>
</nav>