@import url(../../../node_modules/bootstrap/dist/css/bootstrap.css);

*{
    box-sizing: border-box;
}

.wrapper{
    width: 80%;
    background-color: black;
    color: white;
    padding: 10px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    
}

#title{
    
    width: 50%;
    margin: auto;
    padding-top: 25px;
    text-align: center;
}

#manual-navigation{
    text-align: center;
    padding-top: 20px;
}
