<div class="container wrapper my-2">

    <div class="row">
        <div class="col-12">
            <div id="title">
            <h2>Welcome to my site</h2>
            <strong>Hope you have fun exploring me</strong>
            </div>
        </div>
    </div>

    <!-- Add Buttons for exploring
        - Experience
        - Projects
        - Education
        - Contact
    -->

    <div class="row" id="manual-navigation">

        <div class="col-12 col-md-4">
            Experience
        </div>

        <div class="col-12 col-md-4">
            Projects
        </div>

        <div class="col-12 col-md-4">
            Education
        </div>

    </div>

    

</div>

<div class="container" id="content">
    <div class="row">
        <div class="col-12">

        </div>
    </div>
</div>